html
{
    height: 100%;
}

body
{
    height: 100%;

    word-break: break-all;
}

a
{
    transition: background-color .25s linear;
    text-decoration: none;

    color: inherit;
    outline: none;
}

img
{
    vertical-align: bottom;
}
