@charset "utf-8";

//==========================================
//      sp base
//==========================================
html {
    height: 100%;
}
body {
    word-break: break-all;
    height: 100%;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
    @include transition(background-color 0.25s linear);
}
img {
    vertical-align: bottom;
}
