<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>source</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png"> -->
		<link rel="stylesheet" type="text/css" href="../../public/css/pc.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,900,400' rel='stylesheet' type='text/css'>
		<script src="/public/js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/js/vendor.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>

	    <div class="detail_item">
	    	<div class="detail_item_head">
				<div class="users_icon">
					<img src="../../public/img/usersicon.png" width="42px" height="42px">
				</div>
				<div class="item_title"> 
					<h1>KenBurnsView</h1>
					<p>by ohina on Jan 22, 2016</p>
				</div>
			</div>
			<!-- read me -->

			<div class="detail_item_description">
				
				<div class="detail_item_readme">
					<p>KenBurnsView</p>
					<p>Android ImageViews are animated by Ken Burns Effect.</p>
				</div>

				<div class="detail_item_info">
					<div id="button_view_on_github">
						<img src="../../public/img/github.svg" width="18px" height="18px">View on Github
					</div>
					<div class="datail_views">
						<img src="../../public/img/watch.svg" width="15px" height="15px">Views
						<p>2,640 viwes</p>
					</div>

					<div class="datail_stars">
						<img src="../../public/img/star_fill.svg" width="14px" height="14px">Star
						<p>62 stars</p>
					</div>

					<h5>Langage</h5>
					<p class="langage_tag">Go</p>
					<p class="langage_tag">Go</p>
				</div>
			</div>
			<!-- read me -->
		</div>

    </body>
</html>
