<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>source</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png"> -->
		<link rel="stylesheet" type="text/css" href="../../public/css/pc.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,900,400' rel='stylesheet' type='text/css'>
		<script src="/public/js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/js/vendor.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
		    <!-- head start-->

		<header>
			<div id="head_left">
				<div id="head_logo"><img src="../../public/img/source_logo.svg" width="80px" height="20px"></div>
				<ul>
					<li class="head_menu_active">Home</li>
					<li>Recommend</li>
				</ul>
			</div>
			<div id="head_right">
				<div id="button_add">
					<img src="../../public/img/plus.svg" width="12px" height="12px">Add Item
				</div>
				<div id="button_login">
					<img src="../../public/img/github.svg" width="15px" height="15px">
					Login to Github
				</div>
			</div>
		</header>

		<!-- head end -->

		<div id="main_content">

			<!-- side navigation start -->

			<div id="left_navigation">
				<ul>
					<li class="left_navigation_active">Poplur</li>
					<li>Your posted</li>
					<li>Your stars</li>
				</ul>

				<h5>Language</h5>

				<p class="langage_tag_active">Go</p>
				<p class="langage_tag">Go</p>
				<p class="langage_tag">Go</p>
			</div>

			<!-- side navigation start -->

			<!-- content start -->

			<div id="right_content">

				<h1>Poplur</h1>

				<div id="content">
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_title">
							<p>KenBurnsView</p>
						</div>
						<div class="item_description">
							Android ImageViews are animated by Ken Burns Effect.
						</div>
						<div class="item_info">
							<div class="item_langage">Go</div>
							<div class="item_view_number">
								<img src="../../public/img/watch.svg" width="15px" height="15px">2,640
							</div>
							<div class="item_star_number">
								<img src="../../public/img/star_fill.svg" width="14px" height="14px">62
							</div>
						</div>
					</div>
				</div>

				<div id="content_bottom">
					<div id="paging">
						<div class="paging_active">1</div>
						<div class="paging_link">2</div>
						<div class="paging_link">3</div>
						<div class="paging_link">4</div>
						<div class="paging_link">5</div>
						<div class="paging_link">Next >></div>
						<div class="paging_link">Last</div>
					</div>
				</div>

				<footer>
					Copyright © 2016 Source
				</footer>

			</div>

			<!-- content end -->

		</div>
    </body>
</html>
